<div class="mj-column-per-80 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
    <tbody>
      <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
          <div style="font-family:helvetica;font-size:18px;line-height:1;text-align:left;color:#000000;">
            <p class="name-blue"> LINZY NGUYEN </p>
            <p class="" style="font-style: italic;margin-top: 4px; margin-bottom: 0"> Sales Overseas </p>
            <hr />
            <p class="text-md" style="margin-top:32px;font-weight: 700; color: rgb(47, 84, 150)"> YIY-TRANS VIETNAM GLOBAL TRANSPORTATION LIMITED COMPANY </p>
            <p class="text-md">
              <span class="text-md" style="font-weight: 700; color: rgb(47, 84, 150);">Address:</span> 12B Floor, CTM Complex Building, No. 139 Cau Giay Street, Cau Giay Ward, Hanoi city, Vietnam
            </p>
            <p class="text-md">
              <span class="text-md" style="font-weight: 700; color: rgb(47, 84, 150);">Email: </span> <a href="mailto:Linzy.nguyen@yiy-trans.com">Linzy.nguyen@yiy-trans.com</a>
            </p>
            <p class="text-md">
              <span class="text-md" style="font-weight: 700; color: rgb(47, 84, 150);">Tel: </span> +84 36 990 1681 (Zalo/WhatsApp)
            </p>
            <p class="text-md">
              <span class="text-md" style="font-weight: 700; color: rgb(47, 84, 150);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> +84 36 990 1681 (Zalo/WhatsApp)
            </p>
            <p class="text-md">
              <a style="text-decoration: none;" href="https://www.facebook.com/profile.php?id=61567027903444" target="_blank">
                <img src="https://tpkexpress.com.vn/tpkexpress/images/fb.png" style="width: 33px;height: auto;" />
              </a>
              <span>&nbsp;&nbsp;</span>
              <a style="text-decoration: none;" href="https://photos.app.goo.gl/fqvbGCwqnPqSa8wt8" target="_blank">
                <img src="https://tpkexpress.com.vn/tpkexpress/images/teams.png" style="width: 33px;height: auto;" />
              </a>
              <span>&nbsp;&nbsp;</span>
              <a style="text-decoration: none;" href="https://photos.app.goo.gl/pYYA5vs3NxTmq75E8" target="_blank">
                <img src="https://tpkexpress.com.vn/tpkexpress/images/wechat.png" style="width: 33px;height: auto;" />
              </a>
              <span>&nbsp;&nbsp;</span>
              <a style="text-decoration: none;" href="https://photos.app.goo.gl/4oR8sxU3674oWiV16" target="_blank">
                <img src="https://tpkexpress.com.vn/tpkexpress/images/whatsapp.png" style="width: 33px;height: auto;" />
              </a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
