@using WebMVC.Models.Responses
@model int
@{
    ViewData["Title"] = "Báo cáo phí đối tác";
}
<div class="container-fluid mt-4">
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Báo cáo phí đối tác</h3>
            <div>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">
                    Thêm mới
                </button>
                <button class="btn btn-success" onclick="exportExcel()">
                    Xuất excel
                </button>
                <button id="toggleFilterButton" class="btn btn-primary">Ẩn bộ lọc</button>
            </div>
        </div>
        <div class="card-body" id="filterContainer">
            <div class="row">
                <div class="col-md-3">
                    <label for="fromDate" class="form-label">Ngày trong tháng</label>
                    <input type="text" class="form-control datepicker" id="fromDate" name="fromDate" placeholder="">
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="button" class="btn btn-primary btn-search" onclick="loadPage(1)">Tìm kiếm</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <label for="excelFile" class="form-label">File chi phí</label>
                    <input type="file" class="form-control" id="excelFile" accept=".xlsx, .xls">
                </div>

                <div class="col-md-9 d-flex align-items-end gap-3">
                    <button type="button" class="btn btn-warning " onclick="exportSample()">Xuất file mẫu</button>
                    <button type="button" class="btn btn-success " onclick="importExcel()">Import</button>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ReportPartnerFeeTable", new List<ReportPartnerFeeResponse>())

    <div class="card mb-4 mt-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Biểu đồ báo cáo phí cố định trong năm</h5>
        </div>
        <div class="card-body">
            <div class="row mt-4">
                <div class="col s12">
                    <div class="card user-statistics-card animate fadeLeft">
                        <div class="card-content">
                            <div class="row px-3 pt-3">
                                <div class="col s3">
                                    <a href="javascript:;" onclick="YearChartData(0, 'black')">
                                        <div class="d-flex gap-3 align-items-center">
                                            <i class="bi bi-circle-fill fs-1"></i>
                                            <div>
                                                <span class="medium-small">Cân nặng</span>
                                                <h5 class="mt-0 mb-0 soKg-Year"></h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s3">
                                    <a href="javascript:;" onclick="YearChartData(1, 'purple')">
                                        <div class="d-flex gap-3 align-items-center">
                                            <i class="bi bi-circle-fill fs-1 text-purple"></i>
                                            <div>
                                                <span class="medium-small">Số khối</span>
                                                <h5 class="mt-0 mb-0 soKhoi-Year"></h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s3">
                                    <a href="javascript:;" onclick="YearChartData(2, 'green')">
                                        <div class="d-flex gap-3 align-items-center">
                                            <i class="bi bi-circle-fill fs-1 text-success"></i>
                                            <div>
                                                <span class="medium-small">Số tiền</span>
                                                <h5 class="mt-0 mb-0 soTien-Year"></h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="width: 100%; margin: auto;">
                                <canvas id="YearChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="addName" class="form-label">Mã hàng</label>
                            <input type="text" class="form-control" id="addName" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="addAmount" class="form-label">Số tiền</label>
                            <input class="form-control input-money" id="addAmount" value="0" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="addWeight" class="form-label">Số cân</label>
                            <input min="0" value="0" required type="number" class="form-control" id="addWeight">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="addVolume" class="form-label">Số khối</label>
                            <input min="0" value="0" required type="number" class="form-control" id="addVolume">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="addNote" class="form-label">Ghi chú</label>
                            <input type="text" class="form-control" id="addNote">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="addDataDate" class="form-label">Thời gian</label>
                            <input type="text" class="form-control datepicker" id="addDataDate" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Cập nhật</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="editName" class="form-label">Mã hàng</label>
                            <input type="text" class="form-control" id="editName" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="editAmount" class="form-label">Số tiền</label>
                            <input min="0" value="0" required class="form-control input-money" id="editAmount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="editWeight" class="form-label">Số cân</label>
                            <input min="0" value="0" required type="number" class="form-control" id="editWeight">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="editVolume" class="form-label">Số khối</label>
                            <input min="0" value="0" required type="number" class="form-control" id="editVolume">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="editNote" class="form-label">Ghi chú</label>
                            <input type="text" class="form-control" id="editNote">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="editDataDate" class="form-label">Thời gian</label>
                            <input type="text" class="form-control datepicker" id="editDataDate" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
<script src="~/js/createLineChart.js"></script>
<script>
    $(document).ready(function () {
        restoreFilters();
        loadPage(1);
    });

    function restoreFilters() {
        const urlParams = new URLSearchParams(window.location.search);
        const fromDate = urlParams.get('FromDate');

        if (fromDate) $('#fromDate').val(formatDateForInput(new Date(fromDate)));
    }

    function loadPage(page) {
        const fromDateInput = $('#fromDate').val();
        const fromDate = fromDateInput ? parseDate(fromDateInput) : null;
        const params = new URLSearchParams();

        const filters = {
            'PageIndex': page > 1 ? page : null,
            'Type': @Model || null,
            'FromDate': fromDate ? fromDate : '',
        };

        Object.keys(filters).forEach(key => {
            if (filters[key] !== null && filters[key] !== '') {
                params.set(key, filters[key]);
            }
        });

        const queryString = params.toString();
        const newUrl = queryString ? '?' + queryString : '/report-partner-fee';
        history.pushState({}, '', newUrl);
        showLoading();
        $.ajax({
            url: '/Statistic/GetReportPartnerFee?' + queryString,
            type: 'GET',
            success: function (data) {
                $('#table-container').html(data);
            },
            error: function (response) {
                showToast(response.responseJSON.Message, response.responseJSON.Type, false);
            },
            complete: function () {
                hideLoading();
            }
        });
        $.ajax({
            url: '/Statistic/GetReportPartnerFeeYearStatistic',
            data: filters,
            type: 'GET',
            success: function (data) {
                $(".soKg-Year").text(data.Weight.toFixed(2));
                $(".soKhoi-Year").text(data.Volume.toFixed(2));
                $(".soTien-Year").text(data.TotalPriceVND.toLocaleString('en-US'));
            },
            error: function () { }
        });
        YearChartData(0,'black')

    }

    function YearChartData(index, colorW) {
        const fromDateInput = $('#fromDate').val();
        const fromDate = fromDateInput ? parseDate(fromDateInput) : null;

        const request = {
            'Type': @Model || null,
            'FromDate': fromDate ? fromDate : '',
            'DataType' : index
        };

        $.ajax({
            url: '/Statistic/GetReportPartnerFeeYearStatisticData',
            data : request,
            type: 'GET',
            success: function (response) {
                createChart('YearChart', response, colorW, ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"]);
            },
            error: function () { }
        });
    }

    function exportSample() {
        showLoading();
        fetch('/Statistic/ExportSampleExcel')
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = "ImportTemplate.xlsx";
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            })
            .catch(error => console.error("Lỗi khi tải file mẫu:", error));

        hideLoading();
    }

    function exportExcel() {
        showLoading();
        const fromDateInput = $('#fromDate').val();
        const fromDate = fromDateInput ? parseDate(fromDateInput) : null;

        const params = new URLSearchParams({
            'Type': @Model || '',
            'FromDate': fromDate ? fromDate : ''
        });
        fetch(`/Statistic/ExportReportPartnerFee?${params.toString()}`)
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = "Chi phí đối tác.xlsx";
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            })
            .catch(error => console.error("Lỗi khi tải file mẫu:", error));
        hideLoading();
    }

    function importExcel() {
        let formData = new FormData();
        let fileInput = document.getElementById("excelFile");

        if (fileInput.files.length === 0) {
            showToast("Vui lòng chọn file Excel.", 2, false);
            return;
        }

        formData.append("file", fileInput.files[0]);

        disableButton();
        showLoading();
        fetch(`/Statistic/ImportPartnerFee/?postOffice=${@Model}`, {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Lỗi trong quá trình import");
            }
            return response.blob();
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = "ImportResult.xlsx";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            showToast("Import thành công", 0, true);
        })
        .catch(error => {
            console.error("Lỗi khi import file:", error);
            showToast("Lỗi khi import file", 2, false);
        })
        .finally(() => {
            enableButton();
            hideLoading();
        });
    }

    document.getElementById("addForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const addDataDateInput = $('#addDataDate').val();

        const addDataDate = addDataDateInput ? parseDate(addDataDateInput) : null;
        const requestData = {
            Code :  $("#addName").val(),
            Amount :  $("#addAmount").val(),
            Weight :  $("#addWeight").val(),
            Volume :  $("#addVolume").val(),
            Note :  $("#addNote").val(),
            PostOffice : @Model,
            DataDate : addDataDate,
        }

        disableButton();
        $.ajax({
            url: "/Statistic/CreatePartnerFee",
            type: "POST",
            data: requestData,
            success: function (response) {
                showToast(response.Message, response.Type, true);
            },
            error: function (response) {
                showToast(response.responseJSON?.Message || "Lỗi không xác định", response.responseJSON?.Type || 2, false);
            },
            complete: function () {
                enableButton();
            }
        });
    });

    function editItem(item) {
        $("#editName").val(item.Code);
        $("#editWeight").val(item.Weight);
        $("#editVolume").val(item.Volume);
        $("#editNote").val(item.Note);
        $("#editAmount").val(item.Amount.toLocaleString("en-US"));
        $("#editDataDate").val(formatDateForInput(item.DataDate));
        $("#editForm").data("item-id", item.Id);
    }

    $("#editForm").submit(async function (event) {
        event.preventDefault();

        const itemId = $(this).data("item-id");
        const editDataDate = parseDate($("#editDataDate").val());

        const requestData = {
            Code :  $("#editName").val(),
            Amount :  $("#editAmount").val(),
            Weight :  $("#editWeight").val(),
            Volume :  $("#editVolume").val(),
            Note :  $("#editNote").val(),
            PostOffice : @Model,
            DataDate : editDataDate,
        }

        disableButton();
        $.ajax({
            url: `/Statistic/UpdatePartnerFee?id=${itemId}`,
            type: "PUT",
            data: requestData,
            success: function (response) {
                showToast(response.Message, response.Type, true);
            },
            error: function (response) {
                showToast(response.responseJSON?.Message || "Lỗi không xác định", response.responseJSON?.Type || 2, false);
            },
            complete: function () {
                enableButton();
            }
        });
    });

    function deleteItem(itemId) {
        showConfirmModal('Bạn chắc chắn muốn xóa phí này?', function () {
            disableButton();
            $.ajax({
                url: `/Statistic/DeletePartnerFee?id=${itemId}`,
                type: 'DELETE',
                success: function (response) {
                    showToast(response.Message, response.Type, true);
                },
                error: function (response) {
                    showToast(response.responseJSON.Message, response.responseJSON.Type, false);
                },
                complete: function () {
                    enableButton();
                }
            });
        });
    }

    $('#toggleFilterButton').on('click', function () {
        $('#filterContainer').toggle();
        let isVisible = $('#filterContainer').is(':visible');
        $(this).text(isVisible ? 'Ẩn bộ lọc' : 'Hiện bộ lọc');
    });

</script>