@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Hướng dẫn";
}
<main class="main page-news">
    <div class="hero">
        <div class="hero-cuved">
            <img src="/tpkexpress/assets/images/hero-cuved.svg" alt="">
        </div>
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">HƯỚNG DẪN</h1>
                <div class="breadcrumb">
                    <div class="container">
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item aos-init aos-animate" data-aos="fade-right"><a class="breadcrumb-link" href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item aos-init aos-animate" data-aos="fade-right"><a class="breadcrumb-link" href="/huong-dan">HƯỚNG DẪN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="sec-news">
        <div class="news">

            <div class="container">
                <div class="news-side row">
                    <div class="news-left col">
                        <div class="side-fixed">
                            <div class="side-fixed-wrap">
                                <div class="news-top"><span class="txt">DANH MỤC</span></div>
                                <div class="news-sidebar">
                                    <div class="news-sidebar-block">
                                        <div class="re-menu">
                                            <ul>
                                                <li class="active"><a href="/gioi-thieu"><span class="txt"></span>GIỚI THIỆU</a></li>
                                                <li class="active"><a href="/huong-dan"><span class="txt"></span>HƯỚNG DẪN</a></li>
                                                <li class="active"><a href="/bieu-phi"><span class="txt"></span>BIỂU PHÍ</a></li>
                                                <li class="active"><a href="/chinh-sach"><span class="txt"></span>CHÍNH SÁCH</a></li>
                                                <li class="active"><a href="/dich-vu"><span class="txt"></span>DỊCH VỤ</a></li>
                                                <li class="active"><a href="/tin-tuc"><span class="txt"></span>TIN TỨC</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="side-top">
                                <span class="text">DANH MỤC</span>
                                <div class="side-close"><i class="far fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="side-overlay"></div>
                    </div>
                    <div class="news-right col">
                        <div class="news-top">
                            <span class="txt">HƯỚNG DẪN</span>
                            <div class="news-open side-open no-style">DANH MỤC</div>
                        </div>
                        <div class="mona-content">
                            <h1 data-mce-style="text-align: center;" style="text-align: center;"><strong>Hướng dẫn cách tính cước vận chuyển</strong></h1><p><strong>1. Line Hỏa Tốc</strong></p><p>Đối với dịch vụ vận chuyển <strong>line hỏa tốc</strong>, cước sẽ được tính <strong>theo trọng lượng thực tế</strong> của hàng hóa, không quy đổi sang trọng lượng khối.</p><p style="text-align: left; padding-left: 40px;" data-mce-style="text-align: left; padding-left: 40px;"><strong>- Cách tính:</strong> Cân trọng lượng thực tế của hàng hóa và tính cước theo giá cước cho 1kg (hoặc đơn vị khác tùy dịch vụ).<br><strong>- Ví dụ:</strong></p><p style="text-align: left; padding-left: 80px;" data-mce-style="text-align: left; padding-left: 80px;">+ Trọng lượng thực tế: 10kg<br>+ Cước vận chuyển cho 1kg: 22.000 VND<br>+ Cước vận chuyển = 10kg × 22.000 VND = 220.000 VND</p><p style="text-align: left;" data-mce-style="text-align: left;"><strong>2. Line Thường</strong></p><p>Đối với dịch vụ vận chuyển <strong>line thường</strong>, nếu hàng hóa có kích thước lớn hoặc cồng kềnh, cước sẽ được tính theo <strong>số khối</strong> (thể tích) thay vì trọng lượng thực tế. Nếu hàng hóa có kích thước nhỏ, cước sẽ tính theo trọng lượng thực tế.</p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;"><strong>- Cách tính số khối</strong>:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Số khối = (Dài x Rộng x Cao)/1.000.000</p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;"><strong>- Trong đó:</strong></p><p style="padding-left: 80px;" data-mce-style="padding-left: 80px;">+ Dài, Rộng, Cao tính bằng cm.<br>+ 1,000,000 là hệ số quy đổi từ cm³ sang m³ (số khối).</p><p><br><strong>Tóm tắt</strong></p><p><strong>- Line hỏa tốc:</strong> Tính theo <strong>trọng lượng thực tế</strong>, không quy đổi sang trọng lượng khối.<br><strong>- Line thường:</strong></p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;">+ Tính theo <strong>số khối</strong> nếu hàng hóa cồng kềnh (số khối &gt; trọng lượng thực tế).<br>+ Tính theo t<strong>rọng lượng thực tế</strong> nếu trọng lượng thực tế lớn hơn số khối.</p><h1 data-mce-style="text-align: center;" style="text-align: center;"><br><strong>Hướng dẫn cài địa chỉ kho TQ</strong></h1><p><em><strong>-&nbsp; &nbsp; &nbsp;Dưới đây là địa chỉ kho TQ của TPK EXPRESS</strong></em></p><p>收货人( người nhận)：<strong>金陈秀 (mã khách hàng )</strong></p><p>收货地址(địa chỉ): <strong>广西壮族自治区//崇左市//凭祥市//凭祥镇//</strong></p><p>Chi tiết : <strong>南大路373广越物流市场 ( mã Khách Hàng-SDT ) 成秀物流,三栋27-28号</strong></p><p>电话(điện thoại) : <strong>18154748869</strong></p><p>*** Lưu ý: Mã khách hàng là tên đăng nhập TPK của anh chị, anh chị tải app TPK EXPRESS trên chợ ứng dụng để đăng ký hoặc đăng ký trên website của TPK</p><p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Video hướng dẫn cài địa chỉ kho TQ</p><p><span style="background-color: rgb(255, 255, 255); color: rgb(53, 152, 219);" data-mce-style="background-color: #ffffff; color: #3598db;"><a data-mce-href="https://youtube.com/shorts/y4KK-hakp5U?si=xHyS26zFmHdhBp0v" href="https://youtube.com/shorts/y4KK-hakp5U?si=xHyS26zFmHdhBp0v" style="background-color: rgb(255, 255, 255); color: rgb(53, 152, 219);" data-mce-style="background-color: #ffffff; color: #3598db;">https://youtube.com/shorts/y4KK-hakp5U?si=xHyS26zFmHdhBp0v﻿</a></span></p><h1 data-mce-style="text-align: center;" style="text-align: center;"><strong>Hướng dẫn uỷ quyền thanh toán hộ</strong></h1><p>Với những khách hàng không có hộ chiếu hoặc chưa thể xác thực tài khoản Alipay cá nhân, chúng tôi cung cấp dịch vụ ủy quyền thanh toán hộ, giúp bạn dễ dàng nạp tệ và thanh toán trên các nền tảng thương mại điện tử như Taobao, Tmall, 1688,... một cách nhanh chóng và thuận tiện.</p><p><strong>Quy Trình Thực Hiện Ủy Quyền Thanh Toán Hộ</strong></p><p><strong>Bước 1: Cung Cấp Thông Tin Cần Thiết</strong></p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;">- Gửi số tiền cần thanh toán (tệ) qua Zalo của chúng tôi.<br></p><p><strong>Bước 2: Thanh Toán Tiền VND</strong></p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;">- Chuyển khoản số tiền VND tương ứng với giá trị đơn hàng sang tài khoản của chúng tôi.<br>- Tỷ giá và phí dịch vụ sẽ được thông báo rõ ràng trước khi thanh toán.<br></p><p><strong>Bước 3: Xác Nhận Thanh Toán</strong></p><p style="padding-left: 40px;" data-mce-style="padding-left: 40px;">- Sau khi nhận được tiền, chúng tôi sẽ tiến hành thanh toán hộ đơn hàng cho bạn.<br>- Bạn sẽ nhận được xác nhận hoàn tất thanh toán từ phía chúng tôi.<br></p><p>Video hướng dẫn uỷ quyền thanh toán hộ</p><p><span style="color: rgb(53, 152, 219);" data-mce-style="color: #3598db;"><a data-mce-href="https://youtu.be/XS0PRNvT3qw?si=CqAJc6TPPlZxkmo3" href="https://youtu.be/XS0PRNvT3qw?si=CqAJc6TPPlZxkmo3" style="color: rgb(53, 152, 219);" data-mce-style="color: #3598db;">https://youtu.be/XS0PRNvT3qw?si=CqAJc6TPPlZxkmo3﻿</a></span></p><p><br></p><p><br data-mce-bogus="1"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>