@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Tin tức";
}
<main class="main page-news">
    <div class="hero">
        <div class="hero-cuved">
            <img src="/tpkexpress/assets/images/hero-cuved.svg" alt="">
        </div>
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">TIN TỨC</h1>
                <div class="breadcrumb">
                    <div class="container">
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item aos-init aos-animate" data-aos="fade-right"><a class="breadcrumb-link" href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item aos-init aos-animate" data-aos="fade-right"><a class="breadcrumb-link" href="/tin-tuc">TIN TỨC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="sec-news">
        <div class="news">

            <div class="container">
                <div class="news-side row">
                    <div class="news-left col">
                        <div class="side-fixed">
                            <div class="side-fixed-wrap">
                                <div class="news-top"><span class="txt">DANH MỤC</span></div>
                                <div class="news-sidebar">
                                    <div class="news-sidebar-block">
                                        <div class="re-menu">
                                            <ul>
                                                <li class="active"><a href="/gioi-thieu"><span class="txt"></span>GIỚI THIỆU</a></li>
                                                <li class="active"><a href="/huong-dan"><span class="txt"></span>HƯỚNG DẪN</a></li>
                                                <li class="active"><a href="/bieu-phi"><span class="txt"></span>BIỂU PHÍ</a></li>
                                                <li class="active"><a href="/chinh-sach"><span class="txt"></span>CHÍNH SÁCH</a></li>
                                                <li class="active"><a href="/dich-vu"><span class="txt"></span>DỊCH VỤ</a></li>
                                                <li class="active"><a href="/tin-tuc"><span class="txt"></span>TIN TỨC</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="side-top">
                                <span class="text">DANH MỤC</span>
                                <div class="side-close"><i class="far fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="side-overlay"></div>
                    </div>
                    <div class="news-right col">
                        <div class="news-top">
                            <span class="txt">TIN TỨC</span>
                            <div class="news-open side-open no-style">DANH MỤC</div>
                        </div>
                        <div class="mona-content">
                            <p><strong>LẠI TỚI MÙA CANTON FAIR RỒI, DƯỚI ĐÂY LÀ KINH NGHIỆM ĐI CANTON FAIR CÓ SẢN PHẨM NGON MANG VỀ </strong></p><p>Dưới đây là tất tần tất những kinh nghiệm đi Canton Fair như nào cho hiệu quả, kết nối được những xưởng lớn, tìm ra được những mẫu mã sản phẩm Win có thể mang về Việt Nam để bán:<br>-&nbsp;<b><i> Thứ nhất </i></b>là trước khi đi mình cần xác định rõ mục tiêu của mình là gì, ví dụ là các bạn chỉ muốn đi qua bên đó để thăm thú thôi, xem bên đó có gì hay ho, muốn được mở rộng tầm mắt thì cách đi sẽ khác với những bạn có ý định sang đó tìm kiếm sản phẩm để kinh doanh hoặc là kết nối được với những xưởng xịn thì cách đi cũng sẽ khác thì hãy xác định mục tiêu của chuyến đi Canton Fair trước. <br>- <em><strong>Thứ hai</strong></em> là nếu xác định sang đó để tìm sản phẩm thì cần xác định trước mình sẽ bán những ngành hàng gì. Ví dụ định bán đồ gia dụng thì hãy vào Website https://www.cantonfair.org.cn/en-US, tìm đúng ngành hàng gia dụng để xem người ta sẽ tổ chức vào ngày nào thì mình sẽ đi đúng ngày đó và khi đến đó thì mình chỉ tập trung vào khu gia dụng thôi, không đi lan man sang các khu khác vì nhiều khi các khu khác cũng rất thú vị mà các bạn cứ sa vào thăm thú thì rất là mệt và mất việc của mình nữa.<br>- <em><strong>Thứ ba</strong></em> là trước khi đi thì tìm hiểu kĩ các xưởng sẽ tham gia hội chợ rồi sang đó mình chỉ làm việc với các xưởng đó thôi. Các bạn có thể vào trang chủ website của Canton Fair, bấm cụ thể vào từng ngành hàng và bấm chi tiết vào danh mục con thôi là nó sẽ ra tất cả các xưởng sẽ tham gia Hội chợ này và bạn có thể vào từng xưởng để xem thông tin chi tiết và sản phẩm của xưởng đó. Và mình dành thời gian ngồi nghiên cứu các xưởng đó xem xưởng nào có nhiều mẫu mã đẹp, có thâm niên, có quy mô thì các bạn làm một file thông tin ghi lại. Khi đến hội chợ, bạn chỉ cần tập trung đi đúng những xưởng này, trao đổi trực tiếp và kĩ với họ thì sẽ rất được việc. <br>- <em><strong>Thứ tư</strong></em> là bạn hãy kỳ vọng đúng về việc đi hội chợ Canton fair, sẽ rất khó để bạn đi sang đấy một lần mà tìm được sản phẩm ngay, đặt hàng ngay. Mà khi sang đó có sản phẩm hay, có các xưởng lớn rồi thì khi về Việt Nam bạn cần làm việc online với các xưởng này, còn phải trao đổi, đàm phán chán chê, còn phải test sản phẩm thì mới nhập sản phẩm về được. Thế nên đừng kì vọng quá cao là đi Canton Fair là sẽ có sản phẩm ngon để bán luôn.<br>- <em><strong>Cuối cùng</strong></em> là đi Hội chợ cần phải có sức khỏe, sẽ phải đi bộ rất nhiều, các bạn cần chuẩn bị trang phục thoải mái, giày dép dễ đi, mang theo một số đồ ăn ở Việt Nam cho dễ ăn và phải có sức khỏe thì làm việc mới hiệu quả được.</p><p>Để biết thêm thông tin, Quý khách ib cho TPK Express nhé!</p><p><img src="/tpkexpress/assets/menu/tin-tuc-1.png" data-mce-src="/tpkexpress/assets/menu/tin-tuc-1.png"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>